header {
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5rem;
  height: 60px;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: x-large;
}
.logo img {
  width: 45px;
  margin-right: 10px;
}
.contact-info {
  display: flex;
  gap: 20px;
  font-size: 14px;
  color: #333;
}
.contact-info {
  align-items: center;
}
.contact-info img {
  width: 45px;
  margin-right: 10px;
}
.contact .value {
  font-weight: bold;
}

nav {
  background-color: #fff;
  padding: 10px 5rem;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}
nav li {
  font-weight: bold;
  color: #333;
  cursor: pointer;
}
nav ul li:hover{
    color: #FDB913;
}
nav ul li:active{
    color: rgb(203, 124, 5);
}

nav ul li:nth-child(8) {
  background-color: #FDB913;
  color: white;
  padding: 8px 16px;
  font-weight: bold;
}

nav ul li:nth-child(8):hover {
  background-color: #FDB913;
}
.contact-us{
  border: 1px black solid;
  padding: 0.3rem 1rem;
}

.contact-us:hover{
  background-color: #00a8e1;
}